@using (Html.BeginForm("CreateAccount", "Home", null, FormMethod.Post))
{
    @Html.AntiForgeryToken()
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create account</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body text-start">
                    <!-- Workspace input -->

                    <!-- DateTimeFrom input -->
                    <div class="form-outline mb-4">
                        <p>Name:</p>
                        <input type="text" name="playername" class="form-control active" />
                    </div>

                    <!-- DateTimeTo input -->
                    <div class="form-outline mb-4">
                    <p>Password:</p>
                        <input type="text" name="playerpwd" class="form-control active" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
}