@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Darts</p>
    <p class="wow">wow</p>
    <a href="Index."></a>
</div>